<footer class="page-footer">
    <div class="container">
        <h5 class="white-text" class="text-white" style="text-align:center">Links</h5>
        <div class="row">        
            <br>
            <div class="redes-sociales">

                <a class="fa-brands fa-facebook" href="https://www.facebook.com/gracieabrams/"></a>
                <a class="fa-brands fa-instagram" href="https://www.instagram.com/gracieabrams/"></a>
                <a class="fa-brands fa-twitter" href="https://twitter.com/gracieabrams"></a>
                <a class="fa-brands fa-youtube" href="https://www.youtube.com/channel/UCwXDwwxNVRXPcPk7ABkakdA"></a>
                <a class="fa-brands fa-spotify" href="https://open.spotify.com/artist/4tuJ0bMpJh08umKkEXKUI5?autoplay=true&v=A"></a>
                <a class="fa-brands fa-apple" href="https://music.apple.com/us/artist/gracie-abrams/1450554836"></a>

            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container" class="text-white" style="text-align:center">
            © 2023 Copyright Text
        </div>
    </div>
</footer>