<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merch</title>
</head>

<body>
    <header>
        <h1>Vestimenta</h1>
        <div class="contenedor">
            <div class="item">
                <figure>
                    <img src="https://cdn.shopify.com/s/files/1/0401/2536/6433/products/ghoodie_429x.png?v=1682108883"
                        alt="buzo">
                </figure>
                <div class="informacion">
                    <h2>Good Riddance Tour Hoodie</h2>
                    <br>
                    <p class="precio">
                        $110.00
                    </p>
                    <button>Comprar</button>

                </div>
            </div>

            <div class="item">
                <figure>
                    <img src="https://cdn.shopify.com/s/files/1/0401/2536/6433/products/graciet_429x.png?v=1682108278"
                        alt="camisa1">
                </figure>
                <div class="informacion">
                    <h2>Good Riddance Tour Album Cover Cream T-Shirt</h2>
                    <p class="precio">
                        $35.00
                    </p>
                    <button>Comprar</button>


                </div>
            </div>

            <div class="item">
                <figure>
                    <img src="https://cdn.shopify.com/s/files/1/0401/2536/6433/products/datebackt_429x.png?v=1682108522"
                        alt="camisa2">
                </figure>
                <div class="informacion">
                    <h2>Good Riddance Tour Dateback Black T-Shirt</h2>
                    <p class="precio">
                        $35.00
                    </p>
                    <button>Comprar</button>


                </div>
            </div>

            <div class="item">
                <figure>
                    <img src="https://cdn.shopify.com/s/files/1/0401/2536/6433/products/graciepantsfront_429x.png?v=1682109784"
                        alt="calentador">
                </figure>
                <div class="informacion">
                    <h2>Good Riddance Tour Sweatpants</h2>
                    <p class="precio">
                        $100.00
                    </p>
                    <button>Comprar</button>


                </div>
            </div>

            <div class="item">
                <figure>
                    <img src="https://cdn.shopify.com/s/files/1/0401/2536/6433/products/GracieAbramsSocksV3_1_429x.png?v=1673627556"
                        alt="medias">
                </figure>
                <div class="informacion">
                    <h2>G.A. Initial Black Dress Socks</h2>
                    <p class="precio">
                        $110.00
                    </p>
                    <button>Comprar</button>


                </div>
            </div>

            <div class="item">
                <figure>
                    <img src="https://cdn.shopify.com/s/files/1/0401/2536/6433/products/GRACIE_ABRAMS_OXFORD_FRONT_1_429x.png?v=1668706261"
                        alt="camisa2">
                </figure>
                <div class="informacion">
                    <h2>White Button-Up Star Shirt</h2>
                    <br>
                    <p class="precio">
                        $70.00
                    </p>
                    <button>Comprar</button>


                </div>
            </div>


        </div>

        <br>


        <h1>Accesorios</h1>
        <div class="contenedor">
            <div class="item">
                <figure>
                    <img src="https://cdn.shopify.com/s/files/1/0401/2536/6433/products/homesickhat_429x.png?v=1682109830"
                        alt="gorra">
                </figure>
                <div class="informacion">
                    <h2>Homesick Washed Black Dad Hat</h2>
                    <p class="precio">
                        $35.00
                    </p>
                    <button>Comprar</button>

                </div>
            </div>

            <div class="item">
                <figure>
                    <img src="https://cdn.shopify.com/s/files/1/0401/2536/6433/products/gracieposter2_429x.png?v=1682109305"
                        alt="poster">
                </figure>
                <div class="informacion">
                    <h2>Good Riddance Tour Poster</h2>
                    <br>
                    <p class="precio">
                        $15.00
                    </p>
                    <button>Comprar</button>


                </div>
            </div>

            <div class="item">
                <figure>
                    <img src="https://cdn.shopify.com/s/files/1/0401/2536/6433/products/GRACIE_STICKERSHEET_1_429x.png?v=1660608025"
                        alt="stikers">
                </figure>
                <div class="informacion">
                    <h2>Gracie Abrams Sticker Sheet</h2>
                    <br>
                    <p class="precio">
                        $6.00
                    </p>
                    <button>Comprar</button>


                </div>
            </div>

            <div class="item">
                <figure>
                    <img src="https://cdn.shopify.com/s/files/1/0401/2536/6433/products/graciebundle4_429x.png?v=1662655733"
                        alt="colores">
                </figure>
                <div class="informacion">
                    <h2>Gracie Abrams This Is What It Feels Like Colored Pencil Set with Frog Pencil Topper</h2>
                    <p class="precio">
                        $35.00
                    </p>
                    <button>Comprar</button>


                </div>
            </div>

            <div class="item">
                <figure>
                    <img src="https://cdn.shopify.com/s/files/1/0401/2536/6433/products/GRACIE-0010_Tour-Merch-For-eComm_Keychain_429x.png?v=1646253940"
                        alt="colgante de llaves">
                </figure>
                <div class="informacion">
                    <h2>Heart Keychain</h2>
                    <br>
                    <br>
                    <p class="precio">
                        $15.00
                    </p>
                    <button>Comprar</button>


                </div>
            </div>

            <div class="item">
                <figure>
                    <img src="https://cdn.shopify.com/s/files/1/0401/2536/6433/products/graciebuttonsets_429x.png?v=1682110037"
                        alt="pines">
                </figure>
                <div class="informacion">
                    <h2>Good Riddance Tour 3 Piece Button Set


                    </h2>
                    <br>
                    <p class="precio">
                        $10.00
                    </p>
                    <button>Comprar</button>


                </div>
            </div>


        </div>

    </header>
</body>

</html>