<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>
</head>
<body>
    <header>
        <h1>Música</h1>
        <div class="contenedor">
            <div class="item">
                <figure>
                    <img src="https://cdn.shopify.com/s/files/1/0401/2536/6433/products/graciebluevinyl_429x.png?v=1682106962"
                        alt="cd1">
                </figure>
                <div class="informacion">
                    <h2>Good Riddance Deluxe Clear Blue Vinyl (Signed)</h2>
                    <br>
                    <p class="precio">
                        $38.00
                    </p>
                    <button>Comprar</button>

                </div>
            </div>

            <div class="item">
                <figure>
                    <img src="https://cdn.shopify.com/s/files/1/0401/2536/6433/products/GRACIE-0016_Signed_CD_Mock_1000x1000_4c9c7e69-c991-4495-8390-0ae95094c83e_429x.png?v=1674671447"
                        alt="cd2">
                </figure>
                <div class="informacion">
                    <h2>Good Riddance Signed CD</h2>
                    <br>
                    <br>
                    <p class="precio">
                        $14.00
                    </p>
                    <button>Comprar</button>


                </div>
            </div>

            <div class="item">
                <figure>
                    <img src="https://cdn.shopify.com/s/files/1/0401/2536/6433/products/graciestnrdvinyl_429x.png?v=1682107120"
                        alt="cd3">
                </figure>
                <div class="informacion">
                    <h2>Good Riddance Deluxe Vinyl</h2>
                    <br>
                    <br>
                    <p class="precio">
                        $36.00
                    </p>
                    <button>Comprar</button>


                </div>
            </div>

            <div class="item">
                <figure>
                    <img src="https://cdn.shopify.com/s/files/1/0401/2536/6433/products/GoodRiddance_DigitalDownload_429x.png?v=1673458100"
                        alt="cd4">
                </figure>
                <div class="informacion">
                    <h2>Good Riddance Digital Album</h2>
                    <br>
                    <br>
                    <p class="precio">
                        $10.00
                    </p>
                    <button>Comprar</button>


                </div>
            </div>

            <div class="item">
                <figure>
                    <img src="https://cdn.shopify.com/s/files/1/0401/2536/6433/products/Updated-GracieDownload_429x.png?v=1649185921"
                        alt="cd5">
                </figure>
                <div class="informacion">
                    <h2>"Block me out" Digital Single</h2>
                    <br>
                    <br>
                    <p class="precio">
                        $1.29
                    </p>
                    <button>Comprar</button>


                </div>
            </div>

            <div class="item">
                <figure>
                    <img src="https://cdn.shopify.com/s/files/1/0401/2536/6433/products/gracievinyl_429x.png?v=1645727379"
                        alt="cd6">
                </figure>
                <div class="informacion">
                    <h2>This Is What It Feels Like Vinyl</h2>
                    <br>
                    <br>
                    <p class="precio">
                        $26.00
                    </p>
                    <button>Comprar</button>


                </div>
            </div>


        </div>

        <br>
    </header>

    
</body>
</html>
