<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>
</head>
<body>
    <header>
        <h1>This Is What It Feels Like </h1>
        <div class="contenedor">
            <div class="item">
                <figure>
                    <img src="https://cdn.shopify.com/s/files/1/0401/2536/6433/products/graciehoodiefront_3b70bd48-c1a9-41d4-9a74-5e922975cfdd_429x.png?v=1662492592"
                        alt="buzo negro">
                </figure>
                <div class="informacion">
                    <h2>This Is What It Feels Like Black Tour Crewneck</h2>
                    <br>
                    <br>
                    <p class="precio">
                        $85.00
                    </p>
                    <button>Comprar</button>

                </div>
            </div>

            <div class="item">
                <figure>
                    <img src="https://cdn.shopify.com/s/files/1/0401/2536/6433/products/GRACIE-0010_Tour-Merch-For-eComm_Journal-LS-Tee_F-01_429x.png?v=1645733914"
                        alt="buzo negro2">
                </figure>
                <div class="informacion">
                    <h2>Journal Page Black Longsleeve Tour T-Shirt</h2>
                    <br>
                    <br>
                    <p class="precio">
                        $60.00
                    </p>
                    <button>Comprar</button>


                </div>
            </div>

            <div class="item">
                <figure>
                    <img src="https://cdn.shopify.com/s/files/1/0401/2536/6433/products/bluestickergracie_429x.png?v=1662493062"
                        alt="cd3">
                </figure>
                <div class="informacion">
                    <h2>This Is What It Feels Like Patch</h2>
                    <br>
                    <br>
                    <p class="precio">
                        $15.00
                    </p>
                    <button>Comprar</button>


                </div>
            </div>

            <div class="item">
                <figure>
                    <img src="https://cdn.shopify.com/s/files/1/0401/2536/6433/products/Poster_1_429x.png?v=1649355904"
                        alt="poster rosa">
                </figure>
                <div class="informacion">
                    <h2>Limited Edition El Rey Poster</h2>
                    <br>
                    <br>
                    <p class="precio">
                        $30.00
                    </p>
                    <button>Comprar</button>


                </div>
            </div>

            <div class="item">
                <figure>
                    <img src="https://cdn.shopify.com/s/files/1/0401/2536/6433/products/graciebrownhatfront_429x.png?v=1662492842"
                        alt="gorra cafe">
                </figure>
                <div class="informacion">
                    <h2>Gracie Corduroy Hat</h2>
                    <br>
                    <br>
                    <p class="precio">
                        $30.00
                    </p>
                    <button>Comprar</button>


                </div>
            </div>

            <div class="item">
                <figure>
                    <img src="https://cdn.shopify.com/s/files/1/0401/2536/6433/products/graciebundle2_429x.png?v=1662655460"
                        alt="combo">
                </figure>
                <div class="informacion">
                    <h2>This Is What It Feels Like Black Tour Crewneck + Vinyl</h2>
                    <br>
                    <p class="precio">
                        $98.00
                    </p>
                    <button>Comprar</button>


                </div>
            </div>


        </div>

        <br>
    </header>

    
</body>
</html>
